
.top-bar-wrapper{
    width: 100%;
    
}
.top-bar{
    height: 30px;  
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list-left{
       display: flex;
       align-items: center;
       gap: 20px;

       .weather{
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: LabGrotesque, Helvetica, Arial, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 12px;
        letter-spacing: 0.5px;
       
       }
       .date{     
        font-family: LabGrotesque, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;      
        letter-spacing: 1px;
        color: #666666;
       }

    }

    &__list-right{
        display: flex;
        align-items: center;
        gap: 20px;

        &__links{
            display: flex;
            align-items: center;
            gap: 10px;
            line-height: 0;

            .login{
              i{
                margin-right: 3px;
                line-height: 0;
              }
            }

            li:not(:last-child){
            margin-right: 15px;
            }

            a{
                font-family: LabGrotesque, Helvetica, Arial, sans-serif;
                font-weight: 900;
                font-style: normal;
                font-size: 10px;               
                text-transform: uppercase;              
                color: #000;
                text-decoration: none;
                transition: color 0.25s ease-in;            

                &:hover{
                    color: var(--color-secondary);
                }
         
            }

        }

        &__social{
            display: flex;
            align-items: center;
            gap: 10px;

            i{           
                font-size: 15px;            
                color: #000;               
                transition: color 0.25s ease-in;
                

            &:hover{
                color: #007bff;
            }
         
            }

        }

        }
        
    }



.menu-top{
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 1em 0;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;


        .logo{

            h1{
                font-family: LabGrotesque, Helvetica, Arial, sans-serif;
                font-weight: 900;
                font-style: normal;
               text-transform: uppercase;
            }
        }

        .menu-icon{

            display: flex;
            transform: scale(1);
            transition: transform 0.5s ease;                      
            border: 2px solid #122331;

            i{
                color: #122331;
                font-size: 20px; 
                padding: 5px 10px; 
                transition: color 0.5s ease;                   
               
                &:hover{
                    color: white;
                    background: var(--color-primary);
                    
                }
            &:hover{
                transform: scale(1.1);

            }
            
            }
           
        }
    }


}




.menu-wrapper{
    background: #fff;
   
  
}

.menu-bar{  
    display: flex;
    align-items: center;
    min-height: 40px;
    border-bottom: 1px solid #777;


    &__left{
        display: flex;

        .navbar{
            display: flex;
            margin: 0px auto;
            width: 100%;
            
        
            &__nav-items{
             display: flex;
             flex-wrap: wrap;
             align-items: center;
             justify-content: center;            
            }
         
            &__nav-item{
           
             list-style: none;
             &:not(:first-child){
                  margin: 0px 5px;

             }
            }
         
            .nav-link{
                font-family: LabGrotesque, Helvetica, Arial, sans-serif;
                font-weight: 900;
                font-style: normal;
                font-size: 11px;
                text-transform: uppercase; 
                letter-spacing: 0.5px;             
                margin-right: 15px;
                color: #000000;
                text-decoration: none;
                transition: color 0.25s ease-in;
                

            &:hover{
                color: #007bff;
            }
         
            }
         }


    }

    &__right{
        margin-left: auto;

    }
}


/* dropdown */
.dropdown {
	position: relative;
	&:hover {
		.dropdown-menu {
			top: 34px;
			opacity: 1;
			visibility: visible;
		}
	}
}
.dropdown-menu {
    z-index: 20;
	position: absolute;
	background: var(--color-grey-light-1);
	width: 100%;
	top: 50px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}
.menu-right {
	position: absolute;
	background: var(--color-grey-light-1);
	width: 100%;
	top: 50px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	top: 0;
	left: 110%;
}
.menu-item {
	display: flex;
	justify-content: space-between;
    padding: 0px 5px;
	width: 100%;
}
.dropdown-right {
	&:hover {
		.menu-right {
			left: 100%;
			opacity: 1;
			visibility: visible;
		}
	}
}

  /* mega menu  */
  .mega-menu {
    z-index: 20;
    position: absolute;
    width: 1170px;
    height: 400px;
    top: 170px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &__content {
        background: var(--color-grey-light-1);   
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr);
        grid-gap: 2rem;
        width: 100%;
        justify-content: space-between;
        overflow: hidden;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
      }
      .col {
        display: flex;
        padding: 10px 20px;
            
		}
        
        .feature-left{
         
            .feature-image{
                max-width: 100%;
                height: 150px; 
                overflow: hidden;
                .image{
                    width: 100%;
                    height: auto;     
                    object-fit: cover; 
                    object-position: 50% 50%;
                    transition: transform 0.25s ease-in;  
    
                }
            }
        }
        
		
		.mega-links {
			border-left: 1px solid #1a3246;

            li {
                list-style: none;
                a {
                    text-decoration: none;
                    padding: 1rem 2rem;
                }
            }
		}

	}
  


  .blog {
	.mega-menu__content {
		display: grid;
        grid-template-columns: repeat(3, 1fr);
	}
}

.menu-bar__left {
	.navbar__nav-items {
		li {
			&:hover {
				.mega-menu {
					top: 154px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}



@media only screen and (max-width: 768px)
{
    .menu-bar{

        &__left{
            
            .navbar {
        display: none;
            }

        }
    }
}


@media only screen and (max-width: 1170px)
{
    .mega-menu {
        position: absolute;
        width: 100%;
        height: 600px;
    }
}



@media only screen and (max-width: 1000px)
{
    .menu-bar{

        &__left{          
         .navbar {
            .navbar__nav-items{
                .nav-link{
                    font-size: 10px;
                }
            }
            }
        }
    }
}



@media only screen and (max-width: 550px)
{
    .top-bar{
        flex-direction: column;
          
        &__list-right{
               
            &__links{
                display: none;               
            }

            &__social{
                
                i{           
                    font-size: 14px;                                               
                }
            }
        }
    }
}