.mz-section-two {
  margin: 20px 0px;
  min-height: 600px;

  display: flex;
  flex-wrap: wrap;

  &__left {
    width: 100%;
    height: 100%;
    flex: 0 0 38%;
    margin-right: 20px;

    .section-inner {
      display: flex;
      flex-wrap: wrap;

      &__left {
        .posts-left {
          .post {
            .post-content {
              display: flex;

              &__top {
                overflow: hidden;
                cursor: pointer;
                width: 100%;
                height: 250px;

                .image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: 50% 50%;
                  transition: transform 0.25s ease-in;
                }
              }

              &__bottom {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                margin-top: 20px;
                .post-title {
                  .title {
                    font-size: 1.5rem;
                  }
                }
                p {
                  color: var(--color-grey-dark-2);
                  font-size: 15px;
                  line-height: 1.65;
                }
              }
            }
          }
        }
      }
    }
  }
  &__middle {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    .posts-right {
      // padding: 0px 10px;

      .post {
        .post-content {
          display: flex;
          flex-direction: row;
          &__left {
            img {
              height: 145px;
              width: 145px;
              border-radius: 50%;

              &:hover {
                transform: scale(0.9);
              }
            }
          }
          &__right {
            flex: 0 0 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 5px;
            gap: 5px;

            .post-meta {
              &__icon,
              &__user,
              &__date {
                font-size: 70%;
              }
            }
            h4 {
              a {
                font-weight: 400;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  &__right {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-inner {
      display: flex;
      flex-direction: column;
      .post {
        .post-content {
          display: flex;
          flex-direction: row;

          &__left {
            img {
              height: 145px;
              width: 145px;
              border-radius: 50%;

              &:hover {
                transform: scale(0.9);
              }
            }
          }

          &__right {
            flex: 0 0 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            padding-left: 5px;

            .post-meta {
              &__icon,
              &__user,
              &__date {
                font-size: 70%;
              }
            }
            h4 {
              a {
                font-weight: 400;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .mz-section-two {
    &__left {
      flex: 0 0 100%;
    }

    &__right {
      flex: 0 0 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .mz-section-two {
    &__left {
      .section-inner {
        &__left {
          flex: 0 0 100%;
        }

        &__right {
          flex: 0 0 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
}
