.tabContainer {
  .tabPanel + .tabPanel {
    opacity: 0;
  }
}

.mz-section-four {
  margin: 20px 0px;
  // background-color:cadetblue ;
  min-height: 1100px;
  .section-header {
    display: flex;
    align-items: center;

    .tab-menu {
      margin-left: auto;

      .buttonContainer {
        button {
          padding: 10px 20px;
          font-weight: bold;
          background: var(--color-primary);
          color: whitesmoke;
          cursor: pointer;
          &:hover {
            border: 2px solid var(--color-primary);
            background: whitesmoke;
            color: black;
          }
        }
      }
    }
  }

  .section-inner {
    margin: 30px 0px;

    .tabContainer {
      .tabPanel {
        transition: opacity 0.25s ease-in;
        .posts {
          display: flex;
          justify-content: center;
          gap: 25px;
          .post {
            flex: 0 0 32%;
            .post-content {
              display: flex;

              &__top {
                overflow: hidden;
                cursor: pointer;
                width: 100%;
                height: 350px;

                .image {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: 50% 50%;
                  transition: transform 0.25s ease-in;
                }
              }

              &__bottom {
                margin-top: 20px;
                .title {
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
  }

  // .small-posts{
  //    min-height: 600px;
  //    display: flex;
  //    flex-wrap: wrap;
  //    background-color: burlywood;
  //    align-items: center;

  //    .col{
  //      background-color: aqua;

  //      flex: 0 0 33.3333%;
  //      .posts{

  //         .post{
  //             .post-content{
  //                 display: flex;
  //                 flex-direction: row;
  //             }

  //         }
  //      }

  //    }
  // }

  .small-posts {
    margin: 40px 0px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    // grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    // grid-auto-flow: dense;

    .post {
      .post-content {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &__left {
          flex: 0 0 50%;
          overflow: hidden;
          cursor: pointer;
          width: 100%;
          height: 120px;

          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            transition: transform 0.25s ease-in;
          }
        }
        &__right {
          flex: 0 0 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
}

// @media only screen and (max-width: 768px)
// {
//     .mz-section-four{
//         .small-posts{

//             grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

//             }

//     }

//     }

@media only screen and (max-width: 450px) {
}
