.three {
  padding: 100px 0px 100px 0px;
}
.mz-section-three {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  &__left {
    flex: 0 0 25%;
  }

  &__middle {
    flex: 0 0 50%;

    .post-middle {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0px 10px;

      .image-wrapper {
        width: 100%;
        height: 250px;
        overflow: hidden;
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transition: transform 0.25s ease-in;
      }
      .details {
        h4 {
          margin: 10px 0px 10px 0px;
          font-size: 2rem;
          line-height: 1.2;
          .catagory {
            font-size: 20px;
          }
        }
      }
    }
  }

  &__right {
    padding: 0px 20px;
    flex: 0 0 25%;
  }
}

@media only screen and (max-width: 768px) {
  .mz-top-section {
    &__left {
      flex: 0 0 50%;
      padding: 0px 10px;
    }

    &__middle {
      flex: 0 0 100%;
      order: -1;
    }

    &__right {
      flex: 0 0 50%;
      padding: 0px 10px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .mz-top-section {
    &__left {
      flex: 0 0 100%;
    }

    &__middle {
      flex: 0 0 100%;
      order: -1;
    }

    &__right {
      flex: 0 0 100%;
    }
  }
}

.hero {
  overflow: hidden;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .top {
    flex: 0 0 20%;
    .swiper {
      &-wrapper {
        .swiper-slide {
          display: flex;
          margin-right: 10px;
          .slide-left {
            overflow: hidden;
            flex: 0 0 60%;
            width: 100%;
            height: 100px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: 50% 50%;
            }
          }
          .slide-right {
            flex: 0 0 40%;
            display: flex;
            gap: 5px;
            height: 80%;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            .title {
              padding-left: 5px;
              font-size: 12px;
              font-weight: 600;
              line-height: 1.1;
              letter-spacing: 0.5px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
  .bottom {
    flex: 0 0 80%;

    .SwiperSlideRight {
      .swiper-wrapper {
        .swiper-slide {
          max-width: 450px;
          height: 600px;
          overflow: hidden;

          .post-content {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &__image {
              width: 100%;
              height: 100%;
              .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                transition: transform 0.25s ease-in;
                z-index: 1;
              }
            }
            &__details {
              position: absolute;
              z-index: 100;

              a {
                font-size: 20px;
              }
              h4 {
                width: 100%;
                .title {
                  color: whitesmoke;
                  font-size: 2.5rem;
                  text-transform: capitalize;
                  line-height: 1.2;
                  font-weight: 600;
                  cursor: pointer;
                  background: linear-gradient(
                      to right,
                      rgba(224, 225, 221, 1),
                      rgba(224, 225, 221, 1)
                    ),
                    linear-gradient(
                      to right,
                      rgba(255, 196, 61, 1),
                      rgba(239, 71, 111, 1),
                      rgba(6, 214, 160, 1)
                    );
                  background-size: 100% 0.1em, 0 0.1em;
                  background-position: 100% 100%, 0 100%;
                  background-repeat: no-repeat;
                  transition: background-size 400ms;

                  &:hover,
                  &:focus {
                    background-size: 0 0.1em, 100% 0.1em;
                  }
                }
              }
            }

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 50;
              background: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
}
