@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

@font-face {
  font-family: LabGrotesque;
  src: url(../fonts/LabGrotesque-Regular.woff2) format('woff2'),
    url(../fonts/LabGrotesque-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: LabGrotesque;
  src: url(../fonts/LabGrotesque-Medium.woff2) format('woff2'),
    url(../fonts/LabGrotesque-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: LabGrotesque;
  src: url(../fonts/LabGrotesque-Black.woff2) format('woff2'),
    url(../fonts/LabGrotesque-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: LabGrotesque;
  src: url(../fonts/LabGrotesque-BlackItalic.woff2) format('woff2'),
    url(../fonts/LabGrotesque-BlackItalic.woff) format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/**

   */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: LabGrotesque, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
}
